@keyframes vibrate {
    0% {
        transform: translate(0)
    }

    20% {
        transform: translate(-1px, 1px)
    }

    40% {
        transform: translate(-1px, -1px)
    }

    60% {
        transform: translate(1px, 1px)
    }

    80% {
        transform: translate(1px, -1px)
    }

    100% {
        transform: translate(0)
    }
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --pcolor: #3099b1;
    --scolor: #fcd77f;
    --tcolor: #ff2e4d;
    --bcolor: #ffffff;
    --fcolor: #000000;
    --size: 56em;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: var(--pcolor);
    justify-content: center;
    flex-direction: column;
    padding: 0.5em 0.0em;
    align-items: center;
    font-size: 14px;
    display: flex;
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    border-radius: 0.0em 0.0em 0.0em 0.5em;
    background: var(--bcolor);
    height: 0.5em;
}

::-webkit-scrollbar-track {
    border-radius: 0.0em 0.0em 0.0em 0.5em;
    background: var(--bcolor);
}

::-webkit-scrollbar-thumb {
    border-radius: 0.0em 0.0em 0.0em 0.5em;
    background: var(--fcolor);
}

header,
footer {
    display: grid;
    align-items: center;
    justify-items: center;
}

.container {
    border: var(--fcolor) 0.3em solid;
    background-color: var(--bcolor);
    border-radius: 0.0em 1.0em;
    word-break: break-all;
    padding: 0.5em 2.0em;
    width: fit-content;
    word-wrap: normal;
    margin: 0.3em;
}

#bold-italic {
    font-style: italic;
    font-weight: 700;
}

#logo {
    text-transform: uppercase;
    align-items: center;
    font-weight: 500;
    font-size: 3em;
    display: flex;
}

.iconify {
    color: var(--pcolor);
    font-size: 1.35em;
}

#theme {
    text-align: center;
    line-height: 1.5em;
}


.button {
    border: var(--fcolor) 0.25em solid;
    transition: background 250ms ease;
    background-color: var(--bcolor);
    border-radius: 0.0em 0.5em;
    user-select: none;
    padding: 0.5em;
    margin: 0.3em;
    z-index: 2;
}

.easter {
    transform: translateX(1.5em);
    transition: 250ms linear;
    position: relative;
    font-size: 2em;
    display: none;
    z-index: 1;
}

#copyButton {
    background-color: var(--scolor);
    border-radius: 0.5em;
    cursor: pointer;
}

a,
a:visited {
    border-bottom: 0.2em solid var(--fcolor);
    text-decoration: none;
    border-radius: 0.24em;
    padding: 0.0em 0.1em;
    color: var(--fcolor);
    cursor: pointer;
}

a:hover {
    background-color: var(--scolor);
    color: var(--fcolor);
}


label {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.cb {
    border: 0.275em solid var(--fcolor);
    -webkit-appearance: none;
    justify-content: center;
    -moz-appearance: none;
    aspect-ratio: 1 / 1;
    margin-right: 0.1em;
    align-items: center;
    appearance: none;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    height: 1.5em;
    width: 1.5em;
}

.cb:checked::after {
    background-color: var(--fcolor);
    aspect-ratio: 1/1;
    height: 1.5em;
    width: 1.5em;
    content: "";
}

.main {
    padding: 0.25em;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.25em;
}

#clear {
    border-radius: 0.5em;
    cursor: pointer;
}

.side {
    display: flex;
}

#options {
    flex-direction: column;
    width: var(--size);
    overflow-x: auto;
    flex-wrap: wrap;
    max-width: 90vw;
    display: flex;
    height: 42em;
}

.item {
    margin: 0.11em 0.0em;
}

footer {
    line-height: 1.8em;
}